argparse
backports-abc
backports.ssl-match-hostname
boto==2.48.0
botocore
certifi
chardet
cityhash==0.2.3post9
dask==2.12.0
docutils
enum34
fakeredis
funcsigs
future
futures
h5py
idna
ipaddress
jmespath
katdal==0.16
katpoint==0.9
katsdpservices==1.0
katsdptelstate==0.10
katversion
linecache2
llvmlite
mock
msgpack
netifaces
nose
numba
numpy
pbr
ply
pyephem
pygelf==0.3.6
pyjwt==1.7.1
pysolr==3.3.3
python-dateutil
python-lzf
rdbtools
redis==3.4.1
requests
singledispatch
six
toolz
tornado
traceback2
unittest2
urllib3
