-c https://raw.githubusercontent.com/ska-sa/katsdpdockerbase/master/docker-base-build/base-requirements.txt

boto==2.49.0
katdal==0.20.1
katpoint==0.10
katsdpservices==1.2
katsdptelstate==0.13
numpy
pysolr==3.9.0
