pkginfo==1.3.2
six
Cython
h5py
pyephem
numpy
git+ssh://git@github.com/ska-sa/katpoint
git+ssh://git@github.com/ska-sa/katdal
git+ssh://git@github.com/ska-sa/katversion

pysolr==3.3.3
requests==2.0

unittest2
traceback2
linecache2
ply
nose
mock
funcsigs
pbr
singledispatch
tornado
katcp
backports-abc
backports.ssl-match-hostname
certifi
future
futures
astropy==1.2.1
