backports-abc
backports.ssl-match-hostname
certifi
dask
h5py
fakeredis
funcsigs
future
futures
katcp
katversion
hiredis
ipaddress
linecache2
manhole
mock
netifaces
nose
numpy
pbr
ply
pyephem
pygelf
python-lzf
rdbtools
redis
singledispatch
six
spead2
toolz
tornado
traceback2
trollius
unittest2

git+ssh://git@github.com/ska-sa/katpoint
git+ssh://git@github.com/ska-sa/katdal
git+ssh://git@github.com/ska-sa/katsdpservices
git+ssh://git@github.com/ska-sa/katsdptelstate
