Cython
h5py
funcsigs
futures
katcp
numpy
linecache2
manhole
mock
netifaces
nose
pbr
pkginfo
ply
ProxyTypes
six
spead2
redis
traceback2
tornado
Twisted
unittest2
zope.interface
git+ssh://git@github.com/ska-sa/katsdptelstate
git+ssh://git@github.com/ska-sa/katversion
